# Application configurations
PORT=8080
ENV=development

# Bruno integration variables
# If no config.yaml is found, the sync script falls back to checking these
BRUNO_COLLECTION_PATH=./bruno-collection
BRUNO_COLLECTION_NAME=Project Core API (Env Sync)
